{% extends "base.html" %}

{% block content %}
        <!-- Content section-->
        <section class="py-5">
            <div class="container my-5">
                <div class="row justify-content-center">
                    <div class="col-lg-6">
                        <h2>Что мы умеем?</h2>
                        <p class="lead"> HH Parser предлагает Вам обширную информацию о вакансиях и необходимых для них навыках. Мы стремимся сделать Ваш поиск работы более информативным и продуктивным, предоставляя вам точные данные о рынке труда.</p>
                        <p class="mb-0"> Мы анализируем огромный объем вакансий выдаем Вам подробный отчет о требуемых навыках, средней зарплате и количестве доступных позиций, предоставляя аналитику, которая поможет Вам принять более обоснованные решения на вашем карьерном пути</p>
                    </div>
                </div>
            </div>
        </section>
{% endblock %}